.divCard{
    border-color: black;
    box-shadow: 0 0 10px 5px rgb(90, 89, 88);
    background-color: transparent;
    border: 1px solid rgba(244, 240, 253, 0);
    max-width: 250px;
    text-align: center;
    height: 360px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    float: left;
    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 60px;
}

.imgCard{
    width: 250px;
    height: 180px;
    border-bottom: solid 0.1px black;
}

.desCard{
    font-size: 14px;
    font-family: 'Times New Roman';
    text-decoration: none;
    color: black;
}

.tittleDesCard{
    font-size: 18px;
    font-family: 'Times New Roman';
    text-decoration: none;
    color: black;
    font-weight: bold;
}