.btn{
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 0 10px 5px rgb(90, 89, 89);
    color: rgb(39, 38, 41);    
    background-color: transparent;    
    border: 1px solid rgba(136, 101, 206, 0);
    margin-top: 20px; 
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    font-family: italic;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;    
    transition: .3s;
    z-index: 1;
}